@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);
body {
  background: #000 url(../images/body-img.jpg);
}
.warp {
  width: 95%;
  max-width: 1280px;
  margin: 0 auto;
}
li {
  list-style: none;
}
