@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);
body {
  background: url(../images/body-img.jpg) no-repeat;
}
.warp {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
}
li {
  list-style: none;
}
