// .site-footer{
//     
// }
//     .footer-container{
        
//     }
//     .footer-links{
//         display: flex;
//         gap: 20px;
//     }

.site-footer {
    background-color: #111;
    color: #ddd;
    padding: 20px 0;
    font-size: 14px;
    padding-top: 20px;
  
    .footer-container {
      max-width: 980px;
      margin: 0 auto;
      padding: 0 20px;
    }
  
    .footer-links {
        margin-bottom: 10px;
        display: flex;
        gap: 30px;
        a {
            color: #bbb;
            margin: 0 10px;
            text-decoration: none;
    
            &:hover {
            color: #fff;
            text-decoration: underline;
            }
        }
    }
  
    .footer-info {
        padding-top: 10px;
        p {
            margin: 0;
        }
    
        a {
            padding-top: 3px;
            color: #888;
            display: block;
            margin-top: 5px;
            text-decoration: none;
            &:hover {
                color: #fff;
            }
        }
    }
  }