.header-inner {
  // width: 980px;
  height: 217px;
  // background-color: #fff;
}
.game-start-btn-wrap {
  display: flex;
  justify-content: end;
}
.game-start-btn-wrap div a {
  display: block;
}
.poe-game-logo {
  margin: 0 auto;
  width: 100%;
  text-align: right;
  position: relative;
}
.poe-game-logo-image {
  display: block;
  position: absolute;
  width: 287px;
  height: 208px;
  top: -12%;
  left: 36%;
  background: url(../images/menu-logo.png) no-repeat;
  z-index: 10;
}

.game-menu-wrap {
  height: 100%;
  background: url(../images/menu-wrap.png) no-repeat center;
  background-size: contain;
  position: relative;
  background-position-x: center;
  background-position-y: 90px;
}
.game-menu-nav-list {
  list-style: none;
  font-weight: bold;
  width: 978px;
  font-size: 16.5px;
  position: absolute;
  z-index: 1;
  top: 163px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  display: flex;

  justify-content: left;
  color: #fff;
  gap: 16px;
}
.game-menu-nav-list li a {
  display: block;
  width: 101px;
  height: 28px;
}
.menu-nav-list-news {
  margin-left: 53px;
  background: url(../images/btn-image.png) no-repeat;
  background-position: 0px -215px;

  //background-size: contain;
}
.menu-nav-list-info {
  background: url(../images/btn-image.png) no-repeat;
  background-position: -6px -165px;
}
.menu-nav-list-commu {
  background: url(../images/btn-image.png) no-repeat;
  background-position: -128px -14px;
}
.menu-nav-list-rank {
  margin-left: 105px;
  background: url(../images/btn-image.png) no-repeat;
  background-position: -10px -15px;
}
.menu-nav-list-trade {
  background: url(../images/btn-image.png) no-repeat;
  background-position: -248px -64px;
}
.menu-nav-list-shop {
  background: url(../images/btn-image.png) no-repeat;
  background-position: -248px -114px;
}
