.header-inner {
  /* // width: 980px; */
  height: 217px;
  /* // background-color: #fff; */
}
.game-start {
  position: absolute;
}
.game-start-btn-wrap {
  display: flex;
  justify-content: end;
}
.game-start-btn-wrap div a {
  display: block;
}
.poe-game-logo {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  text-align: right;
  position: relative;
}
.poe-game-logo-image {
  display: block;
  position: absolute;
  width: 287px;
  height: 208px;
  left: 352px;
  background: url(../images/menu-logo.png) no-repeat;
  z-index: 10;
}

.game-menu-inner-wrap {
  display: flex;
  height: 100%;
  background: url(../images/menu-wrap.png) no-repeat center;
  background-size: contain;
  position: relative;
  background-position-x: center;
  background-position-y: 90px;
}
.header-inner-top {
  display: flex;
  width: 100%;
  height: 42px;
  justify-content: space-between;
  flex-flow: wrap;
}
.header-inner-top-user {
  background: url(../images/header-inner-top-left-bg.png) no-repeat;
  height: 41px;
  min-width: 359px;
  background-position: 0px -94px;
  width: 50%;
}
.header-inner-top-user-link {
  display: block;
  /* 패딩으로 조절해봤음. */
  padding: 9px 13px 13px 20px;
}
.header-inner-top-user-link a {
  width: 50%;
  color: #fff;
  text-decoration: none;
  color: #00b6ff;
  font-size: 71%;
}
.header-inner-top-nation {
  width: 50%;
  text-align: -webkit-right;
  padding-top: 7px;
}
.top-nation-icon {
  width: 100%;
  height: 100%;
}
.top-nation-icon a {
  display: inline-block;
  width: 30px;
  height: 15px;
}
.top-nation-icon-uk {
  background: url("../images/nation-uk.png") no-repeat;
}
.top-nation-icon-kr {
  background: url("../images/nation-kr.png") no-repeat;
}
.top-game-start {
  position: absolute;
  width: 260px;
  height: 113px;
  top: 30px;
  right: 15px;
}
.top-game-start a {
  display: block;
}
.top-game-start-btn {
  width: 100%;
  height: 100%;
  background: url("../images/start-download-sprite.png") no-repeat;
}
.top-game-download-btn {
  width: 214px;
  height: 25px;
  position: absolute;
  background-color: #fff;
  background: url("../images/start-download-sprite.png") no-repeat;
  background-position: 0px -226px;
  top: 71px;
  right: 22px;
  z-index: 100;
}
.game-menu-nav-list {
  list-style: none;
  font-weight: bold;
  width: 978px;
  font-size: 16.5px;
  position: absolute;
  z-index: 1;
  top: 161px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  display: flex;

  justify-content: left;
  color: #fff;
  gap: 16px;
}
.game-menu-nav-list li a {
  display: block;
  width: 101px;
  height: 28px;
}
.menu-nav-list-news {
  margin-left: 53px;
  background: url(../images/btn-image.png) no-repeat;
  background-position: 0px -215px;
}
.menu-nav-list-info {
  background: url(../images/btn-image.png) no-repeat;
  background-position: -6px -165px;
}
.menu-nav-list-commu {
  background: url(../images/btn-image.png) no-repeat;
  background-position: -128px -14px;
}
.menu-nav-list-rank {
  margin-left: 105px;
  background: url(../images/btn-image.png) no-repeat;
  background-position: -10px -15px;
}
.menu-nav-list-trade {
  background: url(../images/btn-image.png) no-repeat;
  background-position: -248px -64px;
}
.menu-nav-list-shop {
  background: url(../images/btn-image.png) no-repeat;
  background-position: -248px -114px;
}

.content {
  position: relative;
  text-align: left;
  margin: 0 auto;
  width: 960px;
  padding: 4px 0;
}
.game-banner-slide {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 280px;
  background-color: #fff;
}
